<% if model.errors.any? %>
  <div class="flash flash--alert" role="alert">
    <strong>
      <%= pluralize(model.errors.count, "error") %>
      prevented this <%= model.model_name.human.downcase %> from being saved:
    </strong>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
